<div class="controls">
  <form [formGroup]="form" novalidate (keydown.enter)="$event.preventDefault()">
    <div class="input-wrap">
        <div class="input-title">
          <label for="zoom">Приближення<span>*</span></label>
        </div>
  <!--       <div class="input-error" *ngIf="form.get('email').hasError('required') && form.get('email').touched">Email is required field.</div>
        <div class="input-error" *ngIf="form.get('email').hasError('email') && form.get('email').touched">Email is invalid.</div> -->
        <input id="zoom" type="number" formControlName="zoom" autocomplete="off" min="1" max="22">
    </div>
    <div class="input-wrap">
        <div class="input-title">
          <label for="lat">Координата lat<span>*</span></label>
        </div>
  <!--       <div class="input-error" *ngIf="form.get('email').hasError('required') && form.get('email').touched">Email is required field.</div>
        <div class="input-error" *ngIf="form.get('email').hasError('email') && form.get('email').touched">Email is invalid.</div> -->
        <input id="lat" type="number" formControlName="lat" step="0.00001" autocomplete="off">
    </div>
    <div class="input-wrap">
        <div class="input-title">
          <label for="lng">координата lng<span>*</span></label>
        </div>
  <!--       <div class="input-error" *ngIf="form.get('email').hasError('required') && form.get('email').touched">Email is required field.</div>
        <div class="input-error" *ngIf="form.get('email').hasError('email') && form.get('email').touched">Email is invalid.</div> -->
        <input id="lng" type="number" formControlName="lng" step="0.00001" autocomplete="off">
    </div>
    <div class="control-buttons">
      <button class="button primary" (click)="onUpdateMap()"><span>Обновити позицію</span></button>
      <button class="button cancel" (click)="onMapReset()"><span>Відновити позицію</span></button>
    </div>
  </form>
</div>

<div #mapElement class="map"></div>

<div class="shape-form" *ngIf="selectedMapShape">
  <h2>Редагувати зелену зону</h2>
  <form [formGroup]="shapeForm" novalidate>
    <div class="input-wrap">
      <div class="input-title">
        <label for="title">Заголовок<span>*</span></label>
      </div>
      <div class="input-error" *ngIf="shapeForm.get('title').hasError('required') && shapeForm.get('title').touched">Заголовок є обов'язковим полем.</div>
      <input id="title" type="text" formControlName="title" autocomplete="off" [class.error]="shapeForm.get('title').hasError('required') && shapeForm.get('title').touched">
    </div>
    <div class="input-wrap">
      <div class="input-title">
        <label for="description">Описання<span>*</span></label>
      </div>
      <quill-editor id="description" formControlName="description" [style]="{'height':'320px'}"></quill-editor>
    </div>
    <div class="images-block">
      <h3>Фото<button class="button primary" (click)="imagesUploadInput.click()"><span>Загрузити</span></button></h3>
      <div class="images-wrap" *ngIf="shapeForm['controls'].images['controls'] && shapeForm['controls'].images['controls'].length; else NoImages">
        <div class="image-wrap" *ngFor="let image of shapeForm['controls'].images['controls']; index as i">
          <div class="image" [style.background-image]="'url(' + (image.value | imageUploadPreview | async) + ')'">
            <button class="button cancel" (click)="onDeleteShapeImage(i)"><span>Видалити</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons-wrap">
      <button class="button primary" (click)="onUpdateShape()" [class.is-disabled]="shapeForm.invalid" [disabled]="shapeForm.invalid"><span>{{ (selectedMapShape && selectedMapShape.id && selectedMapShape.id.length > 20) ? "Обновити" : "Зберегти" }}</span></button>
      <button class="button cancel" (click)="onDeleteShape()"><span>Видалити</span></button>
      <button class="button" (click)="onResetShape()"><span>Відновити</span></button>
    </div>
  </form>
</div>

<div class="file-upload">
  <input type="file" #imagesUploadInput (change)="onSelectImages($event)" multiple accept="image/png, image/jpeg, image/jpg">
</div>

<ng-template #NoImages>
  <div class="no-images">
    Немає загружених картинок
  </div>
</ng-template>