<!-- {{ mainOutlet.activatedRouteData.depth }} -->
<div class="page">
    <app-map></app-map>
    <div class="content-wrapper" [@routerSlideAnimation]="mainOutlet.activatedRouteData.depth">
        <router-outlet #mainOutlet="outlet"></router-outlet>
    </div>
    <div class="menu-wrap">
        <nav>
            <ul>
                <li>
                    <a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}" queryParamsHandling="preserve">
                        <i class="fal fa-home"></i>
                        Головна
                    </a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['/zones']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}" queryParamsHandling="preserve">
                        <i class="fal fa-home"></i>
                        Зелені зони
                    </a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['/about']" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{exact: true}" queryParamsHandling="preserve">
                        <i class="fal fa-info-circle"></i>
                        О проекті
                    </a>
                </li>
            </ul>
        </nav>
        <a class="nav-link" [routerLink]="['/admin']" [routerLinkActive]="['is-active']">
            <i class="fal fa-cog"></i>
            Адмін<br>панель
        </a>
    </div>
</div>